



/* ####################################################### */

body {margin: 0px; font-family:Frank Ruhl Libre ;
      background-color:rgb(175, 126, 126); 
      position: fixed;}
/* ...................................................... */

span {color: whitesmoke;}
/* ...................................................... */

.head {display:flex;
       align-items: flex-start;
       margin-left: 170px; 
       font-family: poppins; font-weight: bold}
/* ....................................................... */

#spn {margin-top: 20px;}

/* ...................................................... */

.nav {margin-left: 80px;
      margin-top: 10px;
      display: flex;
      color:rgb(1, 1, 27);}

/* ...................................................... */
.mid {display: flex;
      color:rgb(1, 1, 17);
      margin-right: 100px; margin-top: 50px;
      padding-right: 200px; padding-left: 170px;}
/*.....................................................  */

.mid-text {margin-top: 4px; margin-left: 30px;}

/* ................................................... */
    .input {
    display: flex;
    border: solid 1px; border-radius: 20px;
    width: 450px;
    height: 50px;
    background: rgb(1, 1, 27);
    margin-right: 80px;}
/* ..................................................... */

#btn1 {width: 200px;
       height: 40px;
       margin-top: 10px;
       border-radius: 20px;
       color:  wheat;
       background: rgb(1, 1, 27);
       font-family: poppins; font-weight: bold;}
/* ................................................... */

#btn2 {border-radius: 20px;
       height: 50px;
       width: 200px;
       margin-left: 80px;
       color: wheat;  border: solid wheat 1px;
       background: rgb(1, 1, 27);
       font-family: poppins;
       font-weight: bold;}
/*..................................................  */

    ::placeholder {
       padding-left: 15px; 
       color: wheat;
       background: whitesmoke;
       background: rgb(1, 1, 27);
       font-family: poppins;}
/* ################################################## */